.box3{
	position: relative;
	width: 100px;
	height: 350px;
	transform-style: preserve-3d;
	perspective: 1000px;
	left: -42.5%;
	top: -5%;
	
}



.box3 img{
	position: absolute;
	backface-visibility: hidden;
	transition: 1s;
	
	justify-content: center;
	align-items: center;
}

.box3 img:nth-child(2){
	transform: rotateY(180deg);
}


.box3:hover img:nth-child(2){
	transform: rotateY(0deg);
}

.box3:hover img:nth-child(1){
	transform: rotateY(-180deg);
}
.an{
	width: 230px;
	border-radius: 5px;
	right: -400px;

}

.an-ct{
	right: -600px;
	bottom: -10px;

}
