html,
body {
    min-width: 100%;
}

body {
    background: #c9ecee;
    min-width: 100%;
    overflow-x: hidden;
}

.title {
    font-family: "Source Serif Pro", serif;
    margin: 20px 0;
}

p {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    line-height: 30px;
    font-size: 1.2rem;
}

.special {
    font-weight: 600;
}

.quote {
    font-family: "Mali", cursive;
}

.little {
    font-size: 1rem;
    position: relative;
    bottom: 10px;
}


/************TITLLE SECTION*************
/* navbar */


/*.navbar{
  color: #3b5360;
  padding: 0;
  bottom: 190px;
}


header.sticky{
  
  opacity: 0.9;

}




.nav-item{
  margin-top: 40px;
}

.nav-link{
  font-size: 1.5rem;
  font-family:'baloo', 'Molengo', sans-serif;
  display: block;
  margin-right: 10px;
  padding: 10px;
  

}

.navbar-other{
  position: relative;
  top: -180px;
}



.search-bar{
  position: relative;
  top: 0px;
}

.dropdown {
  background-color: white;
  border-radius:10%;
  padding: 3%;
  position: relative;
  top: 100px;
  right: 270px;
  display: inline-block;
  width: 200px;
}*/


/* title section */


/*#title-section{
  background-color: #a8d3da;
  color: #3b5360;
}

.title-sun{
  width: 30%;
  position: absolute;
  bottom: 133%;
  left: 68%;
}

.container-fluid {
  padding-top: 8%;
}

.au-title-img{
  position: relative;
  left: 150px;
}

.title-dove{
  width: 20%;
  position: absolute;
  right: 160%;
  bottom: 120%;
}

.big-heading {
  font-size:5rem;
  margin: 5px 40px 20px 60px;
  padding-bottom: 5%;
  position: relative;
  left: 150px;
  bottom: 150px;
  float: left;
}

.title-footer{
  position: absolute;
  bottom: 140px;
  left: 230px;
  font-size: 1.3rem;
  color: #435560;
}

.title-fada{
  width: 28%;
  position: absolute;
  top: 60%;
  right: 170%;
}

.title-house {
  width: 68%;
  position: absolute;
  bottom: 5px;
  right: 40px;
}

.title-walkers{
  width: 16%;
  position: absolute;
  left: 20%;
  top: 25%;
  z-index: 3;
}

.title-road{
width: 42%;
position: absolute;
top: 55%;
left: 5%;
}

.lg-col-6{
  padding: 0;
}*/


/****************SECOND SECTION***************/

#second-section {
    background-color: #c9ecee;
    padding: 10%;
}

.myButton {
    background-color: #f5c993;
    border-radius: 20px;
    border: 1px solid #ffe3b2;
    display: inline-block;
    cursor: pointer;
    color: #16171a;
    font-family: Arial;
    font-size: 14px;
    padding: 5px 17px;
    text-decoration: none;
    text-shadow: 0 1px 0 #cc9f52;
}

.myButton:hover {
    background-color: #d19a58;
}

.myButton:active {
    position: relative;
    top: 1px;
}

#chick {
    width: 250px;
}

.head-img {
    width: 20%;
    position: relative;
    left: 30%;
}

.an {
    position: relative;
    right: 170px;
    top: 30px;
}

.han {
    position: relative;
    bottom: 2px;
    right: 15px;
}

.nguyen {
    position: relative;
    top: 22px;
}


/********************FOOTER**************/

#footer {
    color: #424642;
    background-color: #c9ecee;
}

.copyright {
    padding: 1%;
    position: relative;
    left: 12%;
}